#div1{
    text-align: center;
}
*{
    background-color: lightsteelblue;
}
.btn{
    color: purple;
    background-color: chocolate;
    border-radius: 10px;
    font-family: cursive;
    cursor: pointer;
}
label{
    font-family: cursive;
}
p{
    font-family: cursive;
    font-size: 25px;
    color: green;
    text-shadow: 0 0 15px black;
    font-weight: 2rem;
}
